body {
	font-family: "Poppins";
}



.heading {
	text-align: center;
	font-size: 12px;
	margin-bottom: 60px;

}

.heading>h1 {
	margin: 4px;
}

table {
	border-collapse: collapse;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 50px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

td, th {
	border-bottom: 1px solid #ddd;
}

td {
	font-size: 14px;
	font-weight: 400;
	padding: 20px;
	width: 60%;
}


tr>td:not(:first-child) {
	text-align: center;
	width: 20%
}

tr {
	height: 56px;
	font-size: 18px;
}


th {
	background-color: #04AA6D;
	color: white;
}


.link {
	text-align: center;
	width: 100px;
	height: 40px;
	border-radius: 4px;
	background-color: #04AA6D;
	margin: 0 auto
}

.link:hover {
	background-color: #0e8056;
}

a {
	text-decoration: none;
	color: white;
	line-height: 40px;
}