* {

  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

*::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1440px;
  margin: auto;
}


/* @media screen and (max-width:767px) { */
.header {
  background-color: #FFF2E1;
}

.orange_bkg {
  background-color: #F48C06;
  border-radius: 80px;
}

.white_bkg {
  background-color: white;
  border-radius: 80px;
}

.blue_text {
  color: #2F327D;
}

.orange_text {
  color: #F48C06
}

.header__hero {
  padding: 40px 20px;
}

.nav {
  padding: 40px 20px;
}

.nav__logo {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
}

.logo__text {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.04em;
  z-index: 1;
}

.logo__icon {
  position: absolute;
  z-index: 0;
  top: -13px;
}

.nav__list {
  display: none;
}

/* .header__left{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.hero__join{
  display: flex;
  max-width: 220px;
  height: 80px;
  width:100%;
  align-items: center;
  justify-content: center;
} */

/* -------------------- desktop view -------------------- */


@media screen and (min-width:767px) {

  .nav__list {
    display: unset;
  }

  .pad__section {
    padding: 0px 100px;
  }

  .nav {
    padding: 50px 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav__logo {
    position: relative;
    max-width: 128px;
    width: 100%;
    margin: 0;
    margin-right: auto;
  }


  .nav__list {
    display: flex;
    align-items: center;
  }

  .nav__list a {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #252641
  }

  .nav__center {
    display: flex;
  }

  .nav__center a {
    margin-right: 30px;
  }

  .nav__right {
    display: flex;
  }

  .nav__right div:hover {
    background-color: #F48C06
  }


  .nav__login {
    max-width: 160px;
    width: 100%;
    padding: 14px 50px;
  }

  .nav__signup {
    max-width: 160px;
    width: 100%;
    padding: 13px 36px;
  }

  .nav__right div {
    margin-left: 20px;
  }

  .header__hero {
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    align-items: center;
  }

  .hero__left {
    padding-top: 20px;
    width: 50%;
    justify-content: left;
  }

  .hero__heading {
    font-size: 54px;
  }

  .hero__text {
    width: 80%;
    margin-top: 34px;
    font-size: 24px;
    font-weight: 400;
  }

  .left {
    padding-right: 20px;
    float: left;
  }

  .hero__btn {
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .hero__join {
    display: flex;
    max-width: 220px;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex: 2;
    margin-right: 40px;
  }

  .hero__join a {
    font-size: 24px;
    font-weight: 600px;
    color: white;
  }

  .hero__play {
    display: flex;
    max-width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    padding-left: 10px;
    flex: 1;
  }

  .play__text {
    display: flex;
    align-items: center;
    justify-content: left;
    flex: 1;
    margin-left: 40px;
    font-size: 24px;
    font-weight: 400;
  }

  .hero__right {
    margin-left: auto;
  }

  .hero__right img {
    width: 500px;
    height: auto;
  }


  /* --------------------trust-------------------- */
  .trust {
    margin-top: 100px;
    padding: 0px 100px;
  }

  .trust__heading {
    font-size: 28px;
    font-weight: 500;
    color: #696984;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  .trust__list {
    margin-top: 52px;
    display: flex;
    justify-content: space-around;
  }

  /* --------------------cloud-------------------- */

  .cloud {
    margin-top: 160px;
  }

  .cloud__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cloud__heading {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .cloud__text {
    max-width: 800px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #696984;
  }

  .cloud__card__list {
    margin-top: 160px;
  }

  .cloud__card {
    position: relative;
    max-width: 350px;
    height: auto;
    padding: 122px 40px 50px 40px;
    text-align: center;
    z-index: 1;
    border-radius: 20px;
    /* box-shadow: 0px 10px 20px rgba(38, 45, 118, 0.08); */
  }

  .cloud__card:hover {
    box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);

  }


  .card__heading {
    font-size: 30px;
    font-weight: 500;
    color: #2F327D;
    margin-bottom: 24px;
  }

  .card__desc {
    font-size: 20px;
    font-weight: 400;
    color: #696984;
  }

  .cloud__logo {
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .cloud__card__list {
    display: flex;
    justify-content: space-between;
  }



  /* --------------------Skiline-------------------- */

  .skiline {
    margin-top: 158px;
  }

  .skiline__heading {
    font-size: 44px;
    font-weight: 600;
    max-width: 371px;
    margin: 0 auto;
  }

  .skiline__desc {
    font-size: 24px;
    font-weight: 400;
    max-width: 1101px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }

  .skiline-img__list {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly
  }

  .skiline-img {
    position: relative;
    max-width: 500px;
    width: 100%;
    z-index: 1;
  }


  .skiline-img img {
    width: 100%;
    height: auto;
  }

  .skiline-img__heading {
    position: absolute;
    left: 0;
    top: 30%;
    right: 0;
    z-index: 2;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: white
  }

  .skiline-img__btn {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 283px;
    width: 100%;
    top: 50%;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 500;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    height: 80px;
    line-height: 80px;
  }

  .skiline-img:hover .skiline-img__btn {
    background-color: rgba(35, 189, 238, 0.9);
  }

  .skiline-img__btn a {
    color: white;
  }



  /* --------------------learn more-------------------- */
  .more {
    margin-top: 180px;
    display: flex;
  }

  .more__left {
    flex: 1.5;
  }

  .more__heading {
    font-size: 36px;
    font-weight: 500;
    max-width: 655px;
    width: 100%
  }

  .more__desc {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 400;
    color: #696984;
    margin-bottom: 30px;
    max-width: 730px;
    width: 100%
  }

  a.more__learn {
    font-size: 22px;
    text-decoration: underline;
    font-weight: 400;
    color: #696984
  }

  .more__right {
    position: relative;
    max-width: 705px;
    width: 100%;
    flex: 1;
  }

  .more__right img {
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .more__blue {
    position: absolute;
    width: 138px;
    height: auto;
    top: 0;
    top: -20px;
    left: -20px;
    z-index: -1;

  }

  .more__orange {
    position: absolute;
    width: 138px;
    height: auto;
    bottom: 0;
    right: 0;
    right: -20px;
    bottom: -20px;
    z-index: -1;
  }

  /* --------------------feature-------------------- */

  .feature {
    margin-top: 160px;
  }

  .feature__heading {
    font-size: 36px;
    font-weight: 700;
    max-width: 239px;
    width: 100%;
    margin: 0 auto;
  }

  .feature__desc {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
    max-width: 888px;
    margin: 0 auto;
    color: #696984;
    margin-top: 50px;
  }

  .feature__list {
    display: flex;
    margin-top: 176px;
  }

  .feature__desc__heading {
    font-size: 40px;
    font-weight: 700;
    text-align: left;
  }

  .feature__img {
    max-width: 50%;
    width: 100%;
  }

  .feature__img img {
    width: 100%
  }

  .feature__desc__heading {
    margin-bottom: 51px;

  }

  .feature__def p {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .more__feature {
    max-width: 280px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #F48C06;
    border-radius: 40px;
    margin-top: 150px;
  }

  .more__feature a {
    color: #F48C06;
  }

  .more__feature:hover {
    background-color: #F48C06;
  }

  .more__feature:hover .feature__btn {
    color: white;
  }




  /* --------------------Integration-------------------- */

  .integration {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
  }

  .integration__left {
    display: flex;
    justify-content: space-between;
    width: 60%;
    flex-wrap: wrap;
  }

  .integration__right {
    margin-left: 100px;
  }

  .integration__img img {
    margin: 20px
  }

  .right__title {
    font-size: 20px;
    font-weight: 400;
    color: #525596;
    margin-bottom: 33px;
  }

  .int__right__heading {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px
  }

  .int__content {
    max-width: 687px;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    color: #696984
  }


  /* --------------------Testimonial-------------------- */

  .testimonial {
    margin-top: 170px;
    display: flex;
    justify-content: space-between
  }

  .testimonial__right {
    position: relative;
    padding-left: 40px;
  }

  .testi__btn {
    max-width: 403px;
    text-align: center;
    width: auto;
    padding-right: 40px;
    height: 80px;
    border: 1px solid #F48C06;
    line-height: 80px;
    border-radius: 80px;
    background-image: url(../images/svg/arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
  }

  .testi__btn a {
    font-size: 22px;
    font-weight: 400;
    color: #F48C06
  }

  .testi__btn:hover {
    background-color: #F48C06;
  }

  .testi__btn:hover a {
    color: white
  }

  .testimonial__img {
    z-index: 1;
  }

  .testimonial__img img {
    border-radius: 40px;
  }

  .testimonial__heading {
    font-size: 60px;
    font-weight: 600;
    color: #2F327D;
    margin-bottom: 20px;
  }

  .testimonial__content {
    font-weight: 400;
    font-size: 26px;
  }

  .testimonial__content p {
    margin-bottom: 26px;
  }

  .testimonial__card {
    position: absolute;
    /* max-width: 500px; */
    width: 500px;
    height: auto;
    padding: 41px 59px;
    border: 2px solid #F67766;
    border-radius: 20px;
    top: 60%;
    left: 30%;
    z-index: 2;
    background-color: white;
    border-left-width: 20px;
  }

  .testimonial__card:hover {
    box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
  }

  .testi-card__top {
    font-size: 22px;
    color: #5F5F7E;
    margin-bottom: 43px;
  }

  .testi-card__name {
    font-size: 24px;
    color: #5F5F7E;
    float: left
  }

  .testi-card__review {
    float: right;
  }

  .testi-card__review p {
    font-size: 18px;
    font-weight: 600;
    color: #80819A
  }



  /* ---------------------news------------------- */
  .news {
    margin-top: 270px;
  }

  .news__heading {
    font-size: 36px;
    font-weight: 700;
    color: #2F327D;
    text-align: center;
  }

  .news__subtitle {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
    color: #696984;
    text-align: center
  }

  .news__left {
    flex: 1
  }

  .news__left__card {
    width: 500px
  }

  .news__left__card:hover {
    box-shadow: 0px 10px 60px rgba(38, 45, 118, 0.08);
  }

  .news__left__img img {
    width: 100%;
    height: auto;
  }


  .news__left__heading {
    margin-top: 22px;
    font-size: 26px;
    font-weight: 500px;
    color: #252641;
  }

  .news__left__desc {
    margin-top: 22px;
    font-size: 20px;
    font-weight: 400;
    color: #696984;
  }

  .read__more {
    font-size: 20px;
    font-weight: 400px;
    margin-top: 28px;
  }

  .read__more a {
    color: #696984
  }

  .news__wrapper {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
  }

  .news__right__list {
    flex: 3;
    margin-left: 20px;
  }

  .news__right__list>div {
    padding-bottom: 40px;
  }

  .news__right__img {
    float: left;
  }

  .news__right__content {
    float: left;
    max-width: 400px;
    margin-left: 20px;
  }

  .news__right__heading {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .news__right__subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #696984
  }


  /* ---------------------footer------------------- */

  .footer {
    background-color: #252641;
    height: 500px;
    padding-top: 70px;
  }

  .footer_row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__text {
    font-size: 32px;
    font-weight: 700;
    color: white
  }

  .footer__logo{
    position: relative;
    display: unset;
    margin: 0;
    margin-right: 20px;
    border-right: 2px solid #626381;
    padding-right: 40px;
    align-items: center;
  }

  .row1__right {
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-left: 20px;
  }

  .subscribe {
    margin-top: 90px;
    color: white
  }

  .email {
    margin-top: 20px;
    padding-right: 20px;
  }

  .email input {
    border-radius: 20px;
    height: 60px;
    width: 400px;
    background-color: rgba(35, 189, 238, 0);
    border: 1px solid #83839A;
    padding-left: 20px;
  }

  .sub_btn {
    margin-top: 20px;
    height: 60px;
    width: 179px;
    line-height: 60px;
    text-align: center;
    background-color: #545AE7;
    border-radius: 60px;
  }

  .sub_btn:hover {
    background-color: #161cca;
  }

  .sub_btn a {
    color: white;
    font-size: 22px;
    font-weight: 400;
  }

  .row_3 {
    margin-top: 96px;
  }

  .row_3 div {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #626381;
  }

  .row_3 a {
    font-size: 22px;
    color: #B2B3CF
  }

  .row4 {
    margin-top: 20px;
    color: #B2B3CF;
    font-size: 22px;
    font-weight: 400;

  }

}