/* ----------------nav bar-------- */

.navbar__hammenu {
  display: none;
}


.left{
  float:left;
}

.right{
  float:right:
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto';
}

*::after {
  content: "";
  display: table;
  clear: both
}

li {
  display: inline-block;
  list-style: none;
}


.container {
  max-width: 1440px;
  margin: auto;
  position: relative
}

nav {
  height: 221px;
  position: relative;
  z-index: 9;
  padding: 40px 100px 32px 100px;
  background-color: #f9f1e7;
}

nav::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #fcf8f3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 67%;
}

.navbar__logo {
  float: left;
  font-size: 24px;
  font-weight: 600;
  padding: 8px 41px 8px 8px
}

.navbar__nav-list {
  float: left;
}


.navbar__search {
  width: 130%;
  height: 45px;
}

.navbar__nav-list a {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 400px;
}

.navbar__nav-list li:not(:last-child) {
  padding-right: 40px;
}

.navbar__icons {
  float: right
}

.navbar__icons li:not(:last-child) {
  padding-right: 32px;
}


select {
  border: none;
  background-color: unset;
}

.nav__footer {
  margin-top: 72px;
  width: 100%;
}

.nav__indicator {
  height: 27px;
  width: 200px;
  float: left;
}

.nav__indicator li:not(:last-child) {
  padding-right: 20px;
}

.nav__ellipse {
  padding-bottom: 8px;
}

.nav__arrow {
  float: right
}

.nav__arrow li:first-child {
  padding-right: 8px;
}


/* ----------nav-bar bottom part----------- */

.header__floating-card {
  position: absolute;
  height: 553px;
  width: 494px;
  background-color: rgba(255, 255, 255, 0.4);
  left: 100px;
  top: 141px;
  z-index: 10;
  padding: 60px;

}

.floating-card__heading {
  font-size: 56px;
  font-weight: 600;
  color: #3A3A3A
}

.floating-card__text {
  margin-top: 16px;
  color: #898989;
  font-size: 20px;
  font-weight: 500;
  margin-right: 17px;
}

.floating-card__button {
  margin-top: 48px;
}

.floating-card__button button {
  width: 100%;
  height: 78px;
  border: none;
  background-color: #E89F71;
}

.floating-card__button button a {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.floating-card__button :hover {
  background-color: #e86615;
}

.header__card {
  width: 100%;
}

.header__image img {
  width: 100%;
  height: auto
}

/* ------- feature-------- */

.feature {
  margin-top: 88px;
  padding: 0 35px;
}

.feature__group {
  float: left;
  padding: 22px 0px 23px;
  width: 25%;
}


.feature__icon {
  float: left;
  margin-right: 24px;
}

.feature__text {
  float: left;
}

.feature__heading {
  font-size: 16px;
  font-weight: 600;
}

.feature__subtext {
  font-size: 16px;
  font-weight: 500;
  color: #898989
}

/* ----------product------- */


.product {
  margin-top: 88px;
}

.product__heading {
  text-align: center;
  font-size: 40px;
  font-size: 700;
}

.product__list {
  margin-top: 32px;
  padding: 20px;

}

.product__card {
  max-width: 310px;
  width: calc(100%/4);
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
  float: left;
  padding-left: 40px;
}

.product__image {
  width: 100%;
  height: auto;
}

.product__image>img {
  width: 100%
}


.product__text {
  padding-left: 16px;
  padding-top: 16px;
  background-color: #F4F5F7;
}

.product__name {
  font-size: 24px;
  color: #3A3A3A;
  font-weight: 600;
  margin-bottom: 8px;
}

.product__desc {
  color: 16px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.product__cost {
  font-size: 20px;
  font-weight: 600;
}

.product-discount {
  position: absolute;
  top: 24px;
  right: 24px;

}


.product__btn {
  margin: 0px auto;
  margin-top: 32px;
  text-align: center;
  width: 245px;
  height: 48px;
  padding: 12px;
  text-align: center;
  border: 1px solid #E89F71;
}

.product__btn>a {
  font-size: 16px;
  width: auto;
  color: #E89F71;
  font-weight: 600;
}


/* --------------------explore-------------------- */
.explore {
  margin-top: 44px;
  background-color: #FCF8F3;
  padding: 44px 0 44px 100px;
  height: 670px;
}

.explore__more {
  float: left;
  max-width: 378px;
  width: 100%;
  margin-top: 179px;
  /* margin-right: 86px; */
}

.more__heading {
  font-size: 40px;
  font-weight: 700;
}

.more__text {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #616161;
}

.more__btn {
  margin-top: 24px;
  max-width: 178px;
  width: 100%;
  height: 48px;
  text-align: center;
  background-color: #E89F71;
}

.more__btn>a {
  color: white;
  line-height: 48px;
}


.explore__middle {
  float: left;
  max-width: 404px;
  width: 100%;
  height: auto;
  margin-right: 24px;
}

.explore_middle img {
  width: 100%;
  height: auto;
}

.explore__right {
  float: left;
  max-width: 372px;
  width: 100%;
  position: relative;
}

.image__full {
  float: left;
}

.image__overflow {
  max-width: 372px;
  height: 468px;
  width: 100%;
  float: right;
  position: absolute;
  left: 1200px;
}

.image__overflow>img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* --------------------tips-------------------- */

.tips {
  width: 100%;
}

.tips__heading {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.tips__list {
  margin-top: 32px;
  padding: 44px 0px 0px 100px;
  width: 100%
}

.tips__card {
  float: left;
  max-width: 391px;
  width: calc(100%/3);
  height: auto;
  margin: 0 auto;
  padding-left: 30px;
}

.tips__img {
  width: 100%
}

.tip__img>img {
  width: 100%;
}

.tips__desc {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 600;
  width: 274px
}


.tips__date {
  font-size: 14px;
  font-weight: 400;
  color: #898989;
  margin-top: 8px
}

.share {
  margin-top: 52px
}

.share__heading {
  margin: 0 auto;
  text-align: center;
}

.share__title {
  font-size: 20px;
  font-weight: 600px;
  color:#616161
}

.share__heading{
  font-size:40px;
  font-weight: 700;
}

.share__content{
  margin-top:8px;
  width:100%;
  height: auto;
}

.share__content div{
  padding:8px
}

.share__block1{
  width:54%
}




@media screen and (max-width:576px) {

  .navbar__nav-list {
    display: none;
  }

  .navbar__icons {
    display: none;
  }

  .nav__footer {
    display: none;
  }

  .container {
    width: 100%;
    height: auto;
    position: relative;
  }

  nav {
    height: auto;
    padding: 0;
    background-color: #f9f1e7;
    padding: 20px 40px 10px 40px;
  }

  nav::before {
    content: "";
    position: static;
    z-index: none;
  }

  .navbar__logo {
    float: none;
    font-size: 24px;
    font-weight: 600;
    float: left;
    padding: 0;
  }


  .navbar__hammenu {
    display: unset;
    float: right
  }

  .navbar__hammenu button {
    border: none;
  }


  .header__floating-card {
    position: unset;
    background-color: white;
    width: 100%;
    z-index: none;
    padding: 60px;

  }

  .floating-card__heading {
    font-size: 56px;
    font-weight: 600;
    color: #3A3A3A
  }

  .floating-card__text {
    margin-top: 16px;
    color: #898989;
    font-size: 20px;
    font-weight: 500;
    margin-right: 17px;
  }

  .floating-card__button {
    margin-top: 48px;
  }

  .floating-card__button button {
    width: 100%;
    height: 78px;
    border: none;
    background-color: #E89F71;
  }

  .floating-card__button button a {
    color: white;
    font-size: 20px;
    font-weight: 600;
  }

  .floating-card__button :hover {
    background-color: #E89F71;
  }

  /* ---------feature------------- */
  .feature {
    padding: 0px 20px;
    text-align: center;
  }

  .feature__group {
    text-align: center;
    float: none;
    margin: none;
    width: 100%;
  }

  .feature__text {
    float: none;
    text-align: center;
  }

  .feature__icon {
    float: none;
    margin-right: 0;
    text-align: center;
  }

  /* --------product---------- */

  .product {
    margin-top: 88px;
  }

  .product__heading {
    text-align: center;
    font-size: 40px;
    font-size: 700;
  }

  .product__list {
    margin-top: 32px;
    padding: 20px
  }

  .product__card {
    max-width: unset;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 20px;
    padding-left: 0;

  }

  .product__image {
    width: 100%;
    height: auto;
  }

  .product__image>img {
    width: 100%
  }


  .product__text {
    padding-left: 16px;
    padding-top: 16px;
    background-color: #F4F5F7;
  }

  .product__name {
    font-size: 24px;
    color: #3A3A3A;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .product__desc {
    color: 16px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .product__cost {
    font-size: 20px;
    font-weight: 600;
  }

  .product-discount {
    position: absolute;
    top: 24px;
    right: 24px;

  }

  .product__btn {
    margin: 0px auto;
    margin-top: 32px;
    text-align: center;
    width: 245px;
    height: 48px;
    padding: 12px;
    text-align: center;
    border: 1px solid #E89F71;
  }

  .product__btn>a {
    font-size: 16px;
    width: auto;
    color: #E89F71;
    font-weight: 600;
  }
}