.navigation {
  background-color: #F9F9FB;
  height: 70px;
}

.navigation .logo {
  position: absolute;
  margin-top: 20px;
  margin-left: 150px;
  font-size: 20px;
  font-weight: 900;
}


a {
  text-decoration: none;
  color: black;
  font-weight: lighter;
}

.navigation .nav-links {
  float: left;
  margin-left: 100px;
  margin-top: 12px;
}

ul.nav-links>li {
  display: inline-block;
  padding-left: 10px;
  font-weight: lighter;
}

.navigation .nav-search {
  float: right;
  margin-top: 20px;
  margin-right: 150px;
}

input[class="search-input"] {
  width: 130px;
  height: 25px;
  border-style: groove;
  border-width: 1px;
  border-radius: 4px;
}

input[class="search-button"] {
  width: 70px;
  height: 31px;
  color: #28A664;
  border-radius: 4px;
  border: 1px solid #28A644;
}


.heading {
  margin-left: 150px;
  margin-top: 30px;
}

.body-text {
  float: left;
  width: 50%;
  position: relative;
}

.inline-text {
  float: right;
  width: 50%;
}

.float-left {
  float: left
}

.full {
  float: left;
  width: 100%;
}

.color-block {
  margin-left: 150px;
  width: 525px;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

.font12 {
  font-size: 12px;
}

.color {
  float: left;
  width: 160px;
  height: 70px;
  border-radius: 8px;
  margin-right: 20px;
}

.tabs-table {
  border-radius: 8px;
  border-collapse: collapse;
}

.tab-table {
  width: 100px;
  height: 30px;
}

.light {
  font-weight: lighter;
}

.primary-text {
  color: #7749F8;
}

.primary {
  background-color: #7749F8;
}


.primary-dark {
  background-color: #5227CC;
}

.primary-light {
  background-color: #EBE5FC;
}


.secondary {
  background-color: #6C747C;
}

.secondary-dark {
  background-color: #54595E;
}

.secondary-light {
  background-color: #ABB5BE;
}

.success {
  background-color: #28A745;
}

.danger {
  background-color: #DC3545;
}

.warning {
  background-color: #FFC107;
}

.info {
  background-color: #17A2B8;
}

.gray600 {
  background-color: #6c757d;
}

.gray700 {
  background-color: #495057;
}

.gray800 {
  background-color: #343a40;
}

.gray900 {
  background-color: #212529;
}

.container {
  margin-left: 150px;
  margin-top: 30px;
  margin-right: 150px;
}


.heading-text {
  font-size: 40px;
}

.btn-table {
  float: left;
  width: 100%
}

#btn-table td {
  padding: 20px 40px 20px 40px;
}



.table-btn {
  text-align: center;
  border: none;
  font-weight: 700;
  color: white;
  width: 80px;
  height: 31px;
  border-radius: 4px;
}


.primary-o {
  border-color: #7749F8;
  color: #7749f8;
  border: 1px solid #7749f8;
}

.secondary-o {
  border-color: #6C747C;
  color: #6C747C;
  border: 1px solid #6C747C;
}


.col1 {
  float: left;
  width: 30%;
}

.nav-list {
  list-style: none;
}

.nav-list>li {
  border: 1px solid #DFE3E6;
  margin-left: -40px;
  padding: 15px;
}

.nav-list>li:hover {
  background-color: #7749F8;
}

.nav-list>li>a:hover {
  color: white;
}

.col2 {
  margin-left: 50px;
  float: left;
  width: auto;
  margin-top: -8px;
}

input[placeholder="Placeholder"] {
  width: 350px;
  height: 35px;

}

.pad-top-20 {
  padding-top: 20px;
}

select {
  width: 350px;
  height: 35px;
}

.checkboxes {
  float: left;
}

.checkboxes-row {
  float: left
}

.checkboxes-inline {
  float: left;
  margin-left: 60px;
  width: auto;
}

.checkbox-list {
  list-style: none;
}

.checkbox-list>li {
  margin-left: -44px;
  font-size: 12px;
}

.checkbox-list>li>input {
  accent-color: #7749F8;
}

.checkbox-inline {
  list-style: none;
}

.checkbox-inline>li {
  margin-left: -44px;
  font-size: 12px;
}

.checkbox-inline>li>input {
  accent-color: #7749F8;
}

.mov-20-left {
  margin-left: -20px;
}

.checkbox-inline>li {
  display: inline-block;
  padding: 20px;
  margin-top: -20px;
}

.clear {
  clear: left
}

.validation {
  margin-top: 60px;
}

.validation>h3 {
  font-weight: lighter;
}

.validation>h3 {
  margin-bottom: 5px;
}

.validation-input>input {
  width: 350px;
  height: 35px;
  border-radius: 4px;
  border-width: 2px;
}

.validation-success>input {
  border-style: solid;
  border-color: #28A745;
}

.validation-error>input {
  border-style: solid;
  border-color: #DC3545;
}

.center-table>table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 60px;
}

.center-table td, th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.center-table tr:first-child {
  border-top: 1px solid #ddd;
}

.center-table td:first-child {
  font-weight: bolder;
  padding-right: 20px;
}

.center-table tr:first-child {
  font-weight: bolder;
}

.center-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.nav-button {
  float: right;
  margin-top: 10px;

}

.btn-right {
  height: 40px;
  border-radius: 4px;
  width: 40px;
  border-style: solid;
  border-color: #DFE3E6;
  border-width: 1px;
  color: #AEB9C1;
  background-color: white;
}

.primary-btn {
  color: white;
  background-color: #7749F8;
}

.outline-btn {
  color: #7749F8;
}

.center-cards {
  margin-top: 80px;
}

footer {
  float: left;
  width: 100%;
  height: 200px;
}