.navigation {
	background-color: #F9F9FB;
	height: 70px;
}

.navigation .logo {
	position: absolute;
	margin-top: 20px;
	margin-left: 150px;
	font-size: 20px;
	font-weight: 900;
}


a {
	text-decoration: none;
	color: black;
	font-weight: lighter;
}

.navigation .nav-links {
	float: left;
	margin-left: 100px;
	margin-top: 12px;
}

ul.nav-links>li {
	display: inline-block;
	padding-left: 10px;
	font-weight: lighter;
}

.navigation .nav-search {
	float: right;
	margin-top: 20px;
	margin-right: 150px;
}

input[class="search-input"] {
	width: 130px;
	height: 25px;
	border-style: groove;
	border-width: 1px;
	border-radius: 4px;
}

input[class="search-button"] {
	width: 70px;
	height: 31px;
	color: #28A664;
	border-radius: 4px;
	border: 1px solid #28A644;
}

.heading {
	margin-left: 150px;
	margin-top: 30px;
}

.body-text {
	float: left;
	width: 50%;
	position: relative;
}

.inline-text {
	float: right;
	width: 50%;
}

.float-left {
	float: left
}

.full {
	float: left;
	width: 100%;
}

.color-block {
	margin-left: 150px;
	width: 525px;
}

.bold {
	font-weight: bold;
}

.light {
	font-weight: lighter;
}

.font12{
	font-size: 12px;
}

.color {
	float: left;
	width: 160px;
	height: 70px;
	border-radius: 8px;
	margin-right: 20px;
}

.tabs-table {
	border-radius: 8px;
	border-collapse: collapse;
}

.tab-table {
	width: 100px;
	height: 30px;
}

.light {
	font-weight: lighter;
}

.primary-text {
	color: #7749F8;
}

.primary {
	background-color: #7749F8;
}


.primary-dark {
	background-color: #5227CC;
}

.primary-light {
	background-color: #EBE5FC;
}


.secondary-primary {
	background-color: #6C747C;
}

.secondary-dark {
	background-color: #54595E;
}

.secondary-light {
	background-color: #ABB5BE;
}

.success {
	background-color: #28A745;
}

.danger {
	background-color: #DC3545;
}

.warning {
	background-color: #FFC107;
}

.info {
	background-color: #17A2B8;
}

.gray600 {
	background-color: #6c757d;
}

.gray700 {
	background-color: #495057;
}

.gray800 {
	background-color: #343a40;
}

.gray900 {
	background-color: #212529;
}

footer {
	float: left;
	width: 100%;
	height: 200px;
}