* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
}

a {
  color: #797979;
}

nav {
  width: 100%;
}

.logo {
  margin-top: 32px;
  margin-left: 40px;
  margin-bottom: 37px;
  font-size: 30px;
  font-weight: 600;
  float: left;
}

.ham-menu {
  display: none;
}


.nav-list {
  float: right;
  color: #797979;
  font-size: 16px;
}

.nav-list>ul {
  margin: 0;
  padding: 0;
}

.nav-list>ul>li {
  list-style: none;
  display: inline-block;
  margin-right: 48px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.nav-list>ul>li>a {
  text-decoration: none;
}

.btn {
  padding: 16px 30px 16px 30px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
}

.btn.primary {
  background-color: #4E42D9;
  color: white;
}

.clear {
  clear: right;
}

a[class="home"] {
  color: #4E42D9;
}

.hero-middle {
  display: none;
}

.hero {
  position: absolute;
  top: 126px;
  right: 120px;
  left: 120px;
}

.main-text {
  font-size: 36px;
  margin-top: 58.5px;
  float: left;
  width: 50%
}

.small-text {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  color: #797979;
}

.main-btn>ul {
  list-style: none;
  margin-top: 48px;
}

.main-btn>ul>li {
  display: inline-block;
}

.btn.secondary {
  background-color: rgba(78, 66, 217, 0.18);
  color: #4E42D9
}

.hero-right {
  float: right
}

.middle-txt {
  position: absolute;
  top: 782px;
  left: 605px;
  font-size: 32px;
  height: 57px;
  width: 196px;
  color: #3B3950
}

.center-list {
  position: absolute;
  top: 879px;
  left: 120px;
  right: 120px;
  height: 216px;
}

.center-card {
  width: 25%;
  float: left;
}

.svg-img {
  text-align: center;
}

.svg-txt {
  color: #797979;
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
  text-align: center;
}

.svg-title {
  font-size: 25px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin-top: 24px;
}

.blog {
  position: absolute;
  top: 1176px;
  width: 100%;
  background-color: #f8f8f8;
}

.blog-text {
  margin-top: 72px;
  text-align: center;
}

.blog-heading {
  font-size: 32px;
  font-weight: 600;
}

.blog-subheading {
  margin-top: 8px;
  font-size: 16px;
  color: #797979;
  font-weight: 400;
}

/* .card {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 40px;
  height: auto;
}


.card-img {
  width: 360.67px;
  height: 281px;
}

.date {
  font-size: 14px;
  font-weight: 500px;
  color: #797979;
  margin-top: 12px
}

.card-heading {
  margin-top: 12px;
  color: #3B3950;
  font-size: 18px;
  font-weight: 600;
}

.card-text {
  margin-top: 8px;
  color: #797979;
  font-size: 16px;
  font-weight: 600;
  width: 360.67px;
}

.card>ul>li {
  display: inline-block;
  margin-right: 9px;
}

.float-left {
  float: left;
} */


.footer {
  top: 2150px;
  width: 100%;
  height: 342px;
  background-color: #292838;
}

.title {
  margin-top: 72px;
  margin-left: 118px;
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.text {
  font-size: 16px;
  width: 398px;
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.8);
}

/* .footer-list {
  position: absolute;
  top: 2150px;
  margin-top: 72px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}

.footer-list.first {
  margin-left: 730px
}

.footer-list>ul {
  margin: 0;
  list-style: none;
  margin-left: -40px;
}

.footer-list>ul>li:first {
  margin-bottom: 24px;
  margin-bottom: 72px;
}

.footer-list.second {
  margin-left: 909px
}

.footer-list.third {
  margin-left: 1109px
}

.footer-list>ul:first {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
} */

footer {
  background-color: #23222F;
  width: 100%;
  height: 56px;
}

.footer-text {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: 14px;
}

.primary {
  color: rgba(78, 66, 217, 1)
}


@media screen and (max-width:576px) {

  .nav-list {
    display: none;
  }

  .nav-list>ul>li {
    display: block;
    font-size: 16px;
  }

  #check:checked~.nav-list>ul {
    left: 0;
  }

  .center-list {
    display: none;
  }

  .middle-txt {
    display: none;
  }

  .main-btn {
    margin-top: 48px;
  }




  .hero {
    display: none;
  }


  nav {
    width: 100%;
    height: 76px;
  }

  .logo {
    float: left;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 40.5px;
    margin-bottom: 20px;
  }

  .ham-menu {
    float: right;
    display: unset;
  }

  button.ham-img {
    width: 24px;
    height: 24px;
    margin-right: 40.5px;
    margin-top: 26px;
    border: none;
    background-color: white;
  }

  img.ham-img {
    width: 100%
  }


  .hero-middle {
    display: unset;
    width: 100%;
  }

  div.hero-image {
    margin: 50px 20px 50px 20px;
    width: auto;
  }

  .hero-image>img {
    width: 100%;
  }

  .hero-text {
    margin-top: 48px;
    margin-left: 20.5px;
    margin-right: 20.5px;
  }

  .hero-heading {
    font-size: 36px;
    font-weight: 700;
  }

  .hero-small {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    color: #797979;

  }

  .middle {
    margin-top: 50px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .middle-heading {
    color: #3B3950;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 72px;
  }

  .svg {
    margin: 0;
    margin-bottom: 20px;
  }

  .svg-image {
    margin-bottom: 24px;
  }

  .card-head {
    font-size: 25px;
    font-weight: 500;
    color: #3B3950
  }

  .card-txt {
    font-size: 16px;
    font-weight: 400;
    color: #797979;
    height: 56px;
  }

  .btn-hero {
    margin-top: 48px;
  }

  .blog {
    position: unset;
    top: unset;
    bottom: unset;
  }

  .blog-text {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .card {
    margin-top: 72px;
    margin-left: 21.75px;
    margin-right: 21.75px;
  }

  .card-img {
    width: 100%;
    height: auto;
  }

  .date {
    margin-top: 12px;
    font-size: 14px;
    color: #797979;
  }

  .card-heading {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 600;
  }

  .card-text {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #797979;
  }

  li.float-left {
    margin-top: 50px
  }

  .view-btn {
    text-align: center;
    margin-top: 72px;
    margin-bottom: 50px;
  }

  .footer {
    width: 100%;
    height: auto;
    background-color: #292838;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
  }

  .title {
    font-size: 30px;
    margin: 0;
  }

  .text {
    font-size: 16px;
    margin: 0;
    width: 100%;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 12px;
  }

  .footer-list {
    color: white
  }

  .footer-list>ul>li:first-child {
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1)
  }

  .footer-list>ul>li {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8)
  }


  .footer-list.first {
    width: 50%;
    float: left
  }



  .footer-list.third {
    clear: both;
    margin-top: 48px
  }

  .list-first {
    width: 100%;
    height: auto;
    margin-top: 48px;
  }

  .clear {
    clear: both
  }

  footer {
    padding-top: 18px;
  }
}